<style>
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user:hover > a .svg-icon,
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user.n-menu-active > a .svg-icon {
  fill: #ffffff;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user > a > .n-username {
  position: relative;
  top: 0;
  margin: 0 7px 0 0;
  vertical-align: middle;
  text-transform: capitalize;
  color: #99999a;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 56px;
}
.ie #n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user > a > .n-username {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user .svg-icon {
  pointer-events: none;
  display: inline-block;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #99999a;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user .svg-icon.user-icon {
  position: relative;
  bottom: 1px;
  margin-right: 6px;
  vertical-align: middle;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  width: 16px;
  height: 16px;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user .svg-icon.-down-arrow {
  position: relative;
  top: 0;
  width: 7px;
  height: 7px;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user .n-user-menu {
  right: 0px;
  border-radius: 0 0 0 3px;
  z-index: 30;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user .n-user-menu li.sep {
  width: 55%;
  max-width: 170px;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-user .n-user-menu:before {
  content: ' ';
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent #3f4142 transparent;
  top: -10px;
  right: 18px;
  position: absolute;
  z-index: 500;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help {
  position: relative;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help:hover .svg-icon.help-icon,
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help.n-menu-active .svg-icon.help-icon {
  -webkit-animation: wiggle 350ms ease-out 1;
  -moz-animation: wiggle 350ms ease-out 1;
  -ms-animation: wiggle 350ms ease-out 1;
  animation: wiggle 350ms ease-out 1;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help:hover .svg-icon,
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help.n-menu-active .svg-icon {
  fill: #ffffff;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help .svg-icon {
  pointer-events: none;
  display: inline-block;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #99999a;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help .svg-icon.help-icon {
  position: relative;
  top: 4px;
  width: 16px;
  height: 16px;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  margin-right: 4px;
  margin-left: -3px;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help .svg-icon.-down-arrow {
  position: relative;
  top: 0;
  width: 7px;
  height: 7px;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help .n-help-menu {
  right: 0;
  border-radius: 0 0 3px 3px;
  z-index: 30;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help .n-help-menu li.sep {
  width: 55%;
  max-width: 170px;
}
#n-header .navbar .n-header-level-1 .n-navigation .pull-right .right-menu .n-help .n-help-menu:before {
  content: ' ';
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent #3f4142 transparent;
  top: -10px;
  right: 13px;
  position: absolute;
  z-index: 500;
}
#n-header .navbar .n-header-level-1 .n-navigation .n-menu-active > li > a {
  color: #ffffff !important;
}
#n-header .navbar .n-header-level-1 .n-navigation .n-menu-active > a i,
#n-header .navbar .n-header-level-1 .n-navigation .n-menu-active > a span,
#n-header .navbar .n-header-level-1 .n-navigation .n-menu-active > a:after {
  color: #ffffff !important;
  border-top-color: #ffffff !important;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 {
  height: 60px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-nav-bar .n-main-menu {
  display: block;
  padding: 0;
  font-weight: 700;
  position: static;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-nav-bar .n-main-menu .n-nav-menu-item {
  display: inline;
  list-style-type: none;
  padding: 0 15px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-nav-bar .n-main-menu .n-nav-menu-item > a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-nav-bar .n-main-menu .n-nav-menu-item > a.n-hover,
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-nav-bar .n-main-menu .n-nav-menu-item > a:hover {
  color: #ffffff;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-header-alerts {
  cursor: auto;
  padding-top: 2px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-header-alerts ul.n-alert-buttons .btn-group button {
  cursor: pointer;
  min-width: 25px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-header-logo {
  position: static;
  left: auto;
  float: left;
  width: inherit;
  margin: 0 0 0 5px;
  height: 60px;
  line-height: 60px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-header-logo > .n-logo-link {
  padding: 0 15px;
  height: 60px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-header-logo > .n-logo-link > img {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  width: 26px;
  height: 16px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-logo img {
  vertical-align: sub;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-nav-bar .n-main-menu-btn {
  margin-left: 22px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-nav-bar .n-main-menu-btn .n-main-menu {
  left: 132px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-nav-bar .n-main-menu-btn i.n-nav-arrow {
  margin-left: 246px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-nav-bar > .n-main-menu > .n-nav-menu-item {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  cursor: pointer;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-nav-bar > .n-main-menu > .n-nav-menu-item > a {
  position: relative;
  top: 1px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-nav-bar > .n-main-menu > .n-nav-menu-item:hover > a {
  color: #ffffff;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-alerts {
  cursor: pointer;
  padding-top: 0;
  margin-left: -8px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-alerts:before {
  content: none;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-alerts > .n-alert-buttons {
  bottom: 0;
  margin-left: 0;
  margin-right: -2px;
}
.safari #n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-alerts > .n-alert-buttons {
  bottom: -3px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-alerts > .n-alert-buttons > .btn-group {
  margin: 0;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-alerts > .n-alert-buttons > .btn-group:not(.n-no-alerts) ~ .btn-group button {
  display: none;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-alerts > .n-alert-buttons > .btn-group > .n-alert-button {
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0.1em;
  padding: 2px 5px 1px 5px;
  min-width: 16px;
  margin: 0;
}
.ff #n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-alerts > .n-alert-buttons > .btn-group > .n-alert-button {
  padding-top: 1px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-tasks .n-task-wrapper {
  padding: 0 15px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-tasks .n-task-wrapper:before {
  content: none;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-tasks .n-task-wrapper > div.radial.none {
  background-color: #6f787e;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-tasks .n-task-wrapper > .n-task-button {
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0.1em;
  padding: 2px 5px 1px 5px;
  min-width: 16px;
  bottom: 0;
  margin-top: 0;
}
.ff #n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-tasks .n-task-wrapper > .n-task-button {
  padding-top: 1px;
}
.safari #n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-tasks .n-task-wrapper > .n-task-button {
  top: 3px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-tasks .n-task-wrapper > .n-task-button.none {
  visibility: hidden;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation > .n-header-tasks .n-tasks-dropdown:before {
  left: 18px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-multi-nav-bar:before {
  left: 132px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-multi-nav-bar:after {
  width: 133px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-multicluster-btn > li > a {
  width: 146px;
  height: 60px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-multicluster-btn > li > a .n-multicluster-name {
  margin-left: 38px;
  max-width: 92px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-multicluster-btn > li > a:hover span {
  text-decoration: none;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-multicluster-btn i.n-nav-arrow {
  display: inline;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .n-multicluster-btn i.n-right-bars .bar {
  display: inline;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > li {
  font-size: 0;
}
.safari #n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > li .n-help-menu,
.safari #n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > li .n-settings-menu,
.safari #n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > li .n-user-menu {
  margin-top: -3px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-spotlight .n-spotlight-control {
  bottom: -12px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-spotlight .svg-icon {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-spotlight:hover .svg-icon {
  fill: #ffffff;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-help {
  padding-right: 0;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-help .svg-icon {
  margin: 0 -3px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-help:hover .svg-icon,
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-help.n-menu-active .svg-icon {
  fill: #ffffff;
  -webkit-animation: wiggle 350ms ease-out 1;
  -moz-animation: wiggle 350ms ease-out 1;
  -ms-animation: wiggle 350ms ease-out 1;
  animation: wiggle 350ms ease-out 1;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-help > .n-help-menu:before {
  right: 15px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-settings .svg-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-settings:hover .svg-icon,
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-settings.n-menu-active .svg-icon {
  fill: #ffffff;
  -webkit-transform: rotate(179deg);
  -moz-transform: rotate(179deg);
  -ms-transform: rotate(179deg);
  -o-transform: rotate(179deg);
  transform: rotate(179deg);
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-settings > .n-settings-menu:before {
  right: 18px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-user {
  margin-right: 5px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-user .svg-icon {
  position: relative;
  top: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-user:hover .svg-icon,
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-user.n-menu-active .svg-icon {
  fill: #ffffff;
  -webkit-animation: wiggle 350ms ease-out 1;
  -moz-animation: wiggle 350ms ease-out 1;
  -ms-animation: wiggle 350ms ease-out 1;
  animation: wiggle 350ms ease-out 1;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-user > a {
  font-size: 0;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-user > a > .n-username {
  top: 1px;
  margin: 0;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-user > a > .n-username + .svg-icon {
  vertical-align: middle;
  top: 0;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}
#n-header.n-multicluster-header-ui > .navbar .n-header-level-1 > .n-pc-navigation > .n-navigation .pull-right > .right-menu > .n-user > .n-user-menu:before {
  right: 23px;
}
</style>

<div id="n-header" class="header n-multicluster-header-ui"><div class="navbar navbar-fixed-top">

  <!-- Header: First Level
  ================================================== -->
  <div class="n-header-level-1" style="background-color: #fff; border-bottom: 1px solid #dddddd;"><div class="n-pc-navigation"><!-- Header: Left-Side
================================================== -->

<!-- This is the new header -->
<div class="n-navigation -hide -show">

  <!-- Logo
  ================================================== -->
  <div class="n-header-logo">
    <a class="n-logo-link">
      <img id="headerLogo" style="height: 28px; width: 28px;" src="images/icons/Xi_logo.png">
    </a>
  </div>
  <span style="float:left;padding-left: 10px;line-height: 60px;"><a href="https://52.53.149.186:9440/ssp/index.html">Explore</a></span>
    <span style="float:left;padding-left: 25px;line-height: 60px;"><a href=" https://ntnx-dev-billing.herokuapp.com/#xi/billing?accountId=2c92c0fb56bc8e800156c35401632649" style="color: #6d8796;">Account</a></span>
    <span style="float:left;padding-left: 25px;line-height: 60px;"><a href=" https://ntnx-dev-billing.herokuapp.com/#xi/billing?accountId=2c92c0fb56bc8e800156c35401632649" style="color: #6d8796;">Billing</a></span>
    <a href="/api/v1/auth/logout" class="action-item logout" style="float:right;line-height: 60px;padding-right: 15px;">
      <span class="label">Logout</span><i class="right" data-icon="L"></i></a>
 

  <!-- Header: Right-Side
  ================================================== -->
  
</div>
</div></div>
</div>
</div>

