<!-- Header
================================================== -->
<header id="n-header" class="app-header">
  <!-- @view: Header view goes here... -->
</header>

<!-- Body
================================================== -->
<div class="n-main-wrapper container page-content">
  <div class="n-wrapper page-content-container" id="n-view-wrapper">
    <!-- Pages
    ================================================== -->
    <div id="n-ctr-page">
    </div>
  </div>
</div>

<!-- Footer
================================================== -->
<footer id="n-footer">
  <!-- @view: Footer view goes here... -->
</footer>
