<section class="n-main">
  <!-- Main Column Header -->
  <header class="n-header">
    <h1 class="n-main-heading">404 Error</h1>
  </header>
  <p>
    Oops! This page is not available.
  </p>
</section>
