<style>
.xi_logo{
    padding-top:20px
  }
	.accountInfo{
		text-align: center;
	    width: 50%;
	    height: 100%;
	    margin: 2% auto;
	    border: 1px solid black;
	}
	td{
		border:1px solid black;
	}


</style>


<header class="n-header" id="n-planspage-hero">
  <div class="n-main-header">
  	<img class="xi_logo" src="images/icons/Xi_logo.png">

    <h2>Subscription successfull!!!</h2>

    <table class="accountInfo">
    	<tr>
    		<td>AccountId</td>
    		<td>{{accountInfo.accountNumber}}</td>
    	</tr>
    	<tr>
    		<td>SubscriptionId</td>
    		<td>{{accountInfo.subscriptionNumber}}</td>
    	</tr>
    	<tr>
    		<td colspan="2"><a href="#/xi/usage?accountId={{accountInfo.accountId}}">Post Usage</a></td>
    	</tr>
    </table>
    <a href="/">Back</a>
 </div>
 </header>