<div class="divTableBody">
  <div class="divTableRow">
    <div class="divTableCell">Item</div>
    <div class="divTableCell">Quantity</div>
    <div class="divTableCell">Charge</div>
    <div class="divTableCell">Charge Date</div>
    <div class="divTableCell">From</div>
    <div class="divTableCell">To</div>
  </div>

  <div class="divTableRow">
    <div class="divTableCell"></div>
    <div class="divTableCell"></div>
    <div class="divTableCell"></div>
    <div class="divTableCell"></div>
    <div class="divTableCell"></div>
    <div class="divTableCell"></div>
  </div>

</div>
