<style type="text/css">
	.n-main-header{
		text-align: center;
	}

  .xi_logo{
    padding-top:20px
  }

	#plansContainer{
		margin: 20px;
	}

    h2 {
  	 color:#8b9297;
    font-size: 25px;
    opacity: 0.8;
   }
   h3{
   color: #abb0b4;
   	font-size: 20px;
    margin: 4px;
   }

   a,
   a label {
  	 cursor: pointer;
   }
  
   .card {
  	 /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */
    width: 20%;
    /* background-color: #e9f8fd; */
    margin: 15px;
    display: inline-flex;
    width: 20%;
    max-width: 30%;
    min-height: 250px;
    border: 1px #dbdfe1 solid;
   }
   .card:hover {
  	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
   }
   .card:hover .container {
         background-color: #5ac9f3;
   }

   .card:hover .container  h2,   .card:hover .container h3{
         color: white;
   }

   5ac9f3
   .container {
    position:relative;
    padding: 2px 16px;
    text-align: left;
   }
.subContainer{
  position:relative;
    padding: 2px 16px;
    text-align: left;
    margin-top: 30px;
}

   .planTitle{
    font-size: 18px;
    margin-top: 10px;
   }
   .planDescription{
   font-size: 15px;
        font-size: 15px;
    margin: 5px 0 10px 0;
    min-height: 85px;
   }

   .planSubTitle{
   font-size: 15px;
        font-size: 15px;
    margin: 5px 0 10px 0;
   }

    a.not_allowed{
    cursor:not-allowed;
   }

   table{
   width: 100%;
   }
   button{
       border: 1px solid #5ac9f3;
    background: none;
    color:#5ac9f3;
   }

   .cost{
   margin-top: 10px;
   }

   .plansHeading{
   margin-top: 40px;
   }

   
</style>

<header class="n-header" id="n-planspage-hero">
  <div class="n-main-header">
    
    <h2 class="plansHeading">Welcome to Nutanix Xi Cloud Services</h2>
    <h3>Scalable infrastructure at your fingertips, tailored at your needs.</h3>
    <div id="plansContainer">
    
    {{#each data}}
        <a class="card  {{#unless this.productRatePlanCharges}}not_allowed{{/unless}}"  data-id="{{this.id}}">
        <table><tr style="border-bottom: #dbdfe1 1px solid;">
        	<td class="container">
        		<h2 class="planTitle"><b>{{this.name}}</b></h2>
        		<h3 class="planSubTitle">Monthly</h3>

          </td></tr>

          <tr><td class="subContainer" >
            <h2 class="cost">{{this.price}}</h2>
            <h3 class="planDescription">{{this.description}}</h3>

          </td></tr>

          <tr><td>
            <table><tr><td>
            <button>Subscribe</button>
            </td></tr></table>
          </td></tr>
          </table>
        </a>
    {{/each}}
    </div>
 </div>
 </header>
